In [4]:
country="nepal"

In [5]:
country

'nepal'

In [8]:
len(country)

5

### find half of a give\ string

In [11]:
country="unitedkingdom"

In [17]:
country[0:4]

'unit'

string[strat:end] where start is inclusive and end is exclusive

In [22]:
len(country)

13

In [24]:
country= input("enter a name of the country")

enter a name of the country bhutan

In [28]:
half=len(country)//2
print(country[ :half])
print(country[half:])

 bh
utan

In [29]:
country[-3]

't'

In [35]:
country[len(country)-1]

'n'

In [37]:
chr(110)

'n'

In [39]:
ord("n")

110

### find every second characters from a given string

In [44]:
country

'bolivia'

In [45]:
country[:]

'bolivia'

In [46]:
country[: :]

'bolivia'

"__string (start:end:step)__,where step is optionaland 1 is defualt value :"

In [47]:
country [::2]

'blva'

In [48]:
country[1::2]

'oii'

### find first three character using negative index/slicing

In [49]:
country

'bolivia'

In [57]:
country[:-4:]

'bol'

using left to right

In [59]:
country[-7:-4]

'bol'

In [60]:
country[::-1]

'aivilob'

reversing the char

### h/w find default for start and end when step is negative

In [66]:
country[-5::-1]

'lob'

### [ strat: where : reverse or stringht

###  split given paragraph into words

In [77]:
example =""" Derrick rose went fomr NYC to ,cavs to play with lebron james """

In [78]:
example.split()

['Derrick',
 'rose',
 'went',
 'fomr',
 'NYC',
 'to',
 ',cavs',
 'to',
 'play',
 'with',
 'lebron',
 'james']

In [81]:
example.split(",")

[' Derrick rose went fomr NYC to ', 'cavs to play with lebron james ']

###  show all characters of the word

In [75]:
word=input("enter a word:")

enter a word:samyak

In [76]:
len(word)

6

In [1]:
welcome="hello to the other side "
print (welcome)
words=welcome.split()
print(len(words))

hello to the other side
5